<div class="row">
  <div class="col-md-12 pr-0 pl-0">
    <nav class="navbar navbar-wrapper navbar-expand-lg navbar-fixed-top fixed-top navbar-dark bg-dark">
      <div class="col-md-1">
        <a class="navbar-brand" routerLink="/annonces">
          <h1>LBC-NC</h1>
        </a>
      </div>
      <div class="col-md-11">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Catégories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Toutes</a>
                <div class="dropdown-divider"></div>
                <div *ngFor="let categorie of listCategorie">
                  <a class="dropdown-item" href="#">{{categorie.titre}}</a>
                </div>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <form class="form-inline col-md-7 my-2 my-lg-0 mr-sm-2" (ngSubmit)="search()">
            <div class="input-group col-md-12">
              <input type="text" class="form-control" [(ngModel)]="keyword" name="keyword" placeholder="Mots clés" aria-label="Mots clés"
                aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary btn-outline-secondary" type="submit" id="button-addon2"><span class="fas fa-search"></span>Rechercher</button>
              </div>
            </div>
          </form>
          <div class="d-flex ml-auto">
            <button [hidden]="!isUserAuth()" class="btn btn-outline-success ml-2 mr-2" type="button" routerLink="/create-annonce"><span
                class="fas fa-plus fa-lg"></span> Ajouter annonce
            </button>


            <button [hidden]="isUserAuth()" class="btn btn-primary btn-circle" type="button" routerLink="/login"><span class="fas fa-user fa-lg"
                data-toggle="tooltip" data-placement="bottom" title="S'authentifier"></span></button>

            <button [hidden]="!isUserAuth()" class="btn btn-danger btn-circle" type="button" (click)="signOut()"><span class="fas fa-user fa-lg"
                data-toggle="tooltip" data-placement="bottom" title="{{getUserName()}}"></span></button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>