<div class="row justify-content-center align-items-center">
  <div class="col-md-8">
    <h2 class="mt-3 mb-3" style="text-align: center">Authentification</h2>
    <div class="row">
      <div class="container col-md-6">
        <div class="col-md-12">
          <form #formLogin="ngForm" (ngSubmit)="authenticate()">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" name="userName" #userName1="ngModel" [(ngModel)]="userName" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Enter email" required>
              <span [hidden]="userName1.valid">
                L'email ne peut pas être vide.
              </span>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
              </small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name="password" #password1="ngModel" [(ngModel)]="password" class="form-control" id="exampleInputPassword1"
                placeholder="Password" required>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!formLogin.valid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>