<div class="card card-inverse" [ngClass]="{zoom: inList()}"  (click)="goToDetail()">
  <img *ngIf="!isHidden" class="card-img-top" src="{{getPhotoUrl()}}" alt="Photo Annonce">
  <div class="card-img-overlay">
    <button class="btn btn-default btn-circle" type="button" routerLink="/login"><span class="fas fa-user fa-lg" data-toggle="tooltip"
        data-placement="bottom" title="S'authentifier"></span></button>
  </div>
  <div class="card-footer">
    <h4 class="card-title" style="color: gray">{{annonce.titre}}</h4>
    <div>
      <h5>{{annonce.prix}} XPF</h5>
    </div>
    <div>
      <p style="font-style: italic">{{annonce.datePublication | date:'dd/MM/yy'}}</p>
    </div>
  </div>
</div>