/* You can add global styles to this file, and also import other style files */
.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 20px;
  }

  body { padding-top: 70px; }